---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import MissionStatement from '~/components/widgets/MissionStatement.astro';

const metadata = {
  title: 'About us',
};

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: '~/assets/images/sails-and-wave.jpg', alt: 'Sails and waves during one of our races',
    }}
  >
    <Fragment slot="title">
      Mission Statement and Guidelines of <br />
      SSSA – Shorthanded Sailing South Africa
    </Fragment>

    <Fragment slot="subtitle">
      The SSSA is a social media platform engaging with and bringing together like-minded Corinthian
shorthanded sailors throughout South Africa to promote and grow the art of shorthanded sailing
through arranging meet-up events online. <br /><br />

      The SSSA is not a registered organisation, association, or club in any form.
    </Fragment>
  </Hero>


  <MissionStatement
    items={[
      {
        description: 'Our mission is to promote and grow the art of shorthanded sailing in South Africa.',
      },
      {
        description: 'Our vision is to create a community of like-minded sailors who share a passion for shorthanded sailing.',
      },
      {
        description: 'Our values are to provide a platform for sailors to connect, share knowledge, and learn from each other.',
      },
      {
        description: "SSSA is a social media platform.",
      },
      {
        description: "Participants shall sail in the spirit of a Corinthian Sailor.",
      },
      {
        description: "Initially only “Active” double handed ORC ratings will be used. You are required to inform the volunteers if your rating changes well in advance of a planned meet-up. Volunteers will not be updating ratings without your request.",
      },
      {
        description: "It is expected that all solo entrants wear PFD’s at all times.",
      },
      {
        description: "It is expected that all double-handed entrants wear PFD’s in any conditions but glassy waters.",
      },
      {
        description: "We encourage all boats to be equipped with an AIS transponder, especially for longer meet-ups.",
      },
      {
        description: "We encourage all entrants to wear an AIS MOB device, especially for longer meet-ups.",
      },
      {
        description: "We encourage all entrants to carry a life-raft, especially for longer meet-ups.",
      },
      {
        description: "All entrants are encouraged to have a VHF radio in the cockpit.",
      },
      {
        description: "When sailing solo, you may elect to have one observer on board for safety assistance only, such person may not assist in sailing the boat in any way or sit on the rail.",
      },
      {
        description: "Water ballast may be used only if declared on your rating certificate.",
      },
      {
        description: "Self-steering devices are allowed.",
      },
      {
        description: "Should a fellow entrant run into difficulty, it would be expected that you assist if it is possible and safe to do so.",
      },
      {
        description: "All vessels are responsible for their own vessel and skipper certification and shall sail within their required certification.",
      },
      {
        description: "The responsibility remains with the skipper to ensure they sail in a safe and competent manner and the decision to participate or to continue to participat in a meet-up is that of the skipper alone.",
      },
      {
        description: "Entrants must, at all times, comply with all legal requirements including required skipper certification, the relevant COF requirements, Colregs, harbour traffic etc.",
      },
      {
        description: "All meet-up events are run on the standard yacht racing rules as applicable, being mindful that entrants are shorthanded and therefore may take longer to respond.",
      },
      {
        description: "All entrants are expected to sail in the Corinthian spirit and to report where and if required correct finishing times and round virtual marks correctly.",
      },
      {
        description: "All entrants are expected to be cordial and act in good faith towards each other.",
      },
      {
        description: "Ethical behaviour is of utmost importance in order to have successful meet-up events.",
      },
      {
        description: "All men and women are to be respected as equal no matter title or status.",
      },
      {
        description: "All boats are to be treated as equal no matter size or value.",
      },
      {
        description: "You are expected to be properly insured as usual.",
      },
      {
        description: "All volunteers assist for the betterment of all who sail, they do not benefit personally in any way. They are not accepting any responsibility personally or otherwise for any damages to property, injuries or deaths.",
      },
    ]}
  />

  <HeroText tagline="Sail within your own abilities." title="Have no ego on the water."
    callToAction={{
      text: 'Read more',
      href: '/write-ups',
    }}
  />

</Layout>
