---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'SSSA — Shorthanded Sailing South Africa',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'What\'s New',
        href: 'https://social.sssa.africa/public/local',
        target: '_blank',
        icon: 'tabler:chevron-right',
      },
      { text: 'Learn more', href: '/write-ups' },
    ]}
    image={{ src: '~/assets/images/meetup-2024-may-18.jpg', alt: 'Meetup May 18 2024, start of class B' }}
  >
    <Fragment slot="title">
      Shorthanded Sailing South Africa
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">SSSA</span> is South Africa's platform for
        arranging sailing meet-ups and races to grow the art of Shorthanded
        Sailing.
      </span>
    </Fragment>
  </Hero>

</Layout>
