---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Results',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Results"
    title="Results of short-handed racing events"
    subtitle="View the results of our meet-ups, as wall as the results of short-handed racing events of affiliated organisations."
    actions={[
      { variant:"primary", target: 'meetup_results', text: 'View latest results', href: 'https://social.sssa.africa/@meetup_results' },
      { variant:"secondary", text: 'View historic results', href: '#historic-results' },
    ]}
    image={{
      src: '~/assets/images/at-the-long-table.jpg',
      alt: 'Prize-giving at the Royal Cape Yacht Club, at the Long Table after the Double Round the Island 2024',
    }}
  />


  <!-- Content Widget **************** -->

  <Content
    id="historic-results"
    isReversed
    items={[
      {
        title: 'Grand-Prix Meet-up Race 18 May 2024',
        icon: 'tabler:presentation',
        callToAction: {
          target: '_blank',
          text: 'View results',
          href: 'https://www.instagram.com/p/C7PrMPoAJlC/',
          icon: 'tabler:chevron-right',
        },
      },
      {
        title: 'Double Round the Island 2024',
        // description:
        //   'Held March 23 2024, 20 boats participating, followed by prize-giving at a "long-table" at the Royal Cape Yacht Club',
        icon: 'tabler:presentation',
        callToAction: {
          target: '_blank',
          text: 'View results',
          href: 'https://www.instagram.com/p/C4774QFtpYz/',
          icon: 'tabler:chevron-right',
        },
      },
      {
        title: 'SSSA Meet-up 13 January 2024',
        icon: 'tabler:presentation',
        callToAction: {
          target: '_blank',
          text: 'View results',
          href: 'https://www.instagram.com/p/C2DI65trma3/',
          icon: 'tabler:chevron-right',
        },
      },
      {
        title: 'Dassen Island 2023',
        callToAction: {
          target: '_blank',
          text: 'View results',
          href: 'https://www.instagram.com/p/C0cSzyVrl1P/',
          icon: 'tabler:chevron-right',
        },
        icon: 'tabler:presentation',
      },
    ]}
    image={{ src: '~/assets/images/YOLO-beating-square.png', alt: 'YOLO Beating, view from cockpit' }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Historic Results</h3>
    </Fragment>
  </Content>

</Layout>
