---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logo from '~/assets/images/logo-horizontal.png';

---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <Image src={logo} alt={SITE?.name}
    widths={[300, 700, 1400]}
    sizes="(max-width: 767px) 300px, (max-width: 1023px) 700px, (max-width: 2039px) 1400px, 1400px"
    width="300"
    loading="eager"
  />

</span>
