---
import CallToAction from "~/components/widgets/CallToAction.astro";
import Content from "~/components/widgets/Content.astro";
import Features2 from "~/components/widgets/Features2.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Note from "~/components/widgets/Note.astro";
import Hero from "~/components/widgets/Hero.astro";
import Layout from "~/layouts/PageLayout.astro";
import { Icon } from "astro-icon/components";

const metadata = {
  title: "Grand Prix Meet-Up Racing",
  description:
    "SSSA Meet-Up Racing - Details, Notice of Race, Sailing Instructions",
  openGraph: {
    site_name: "Racing",
    images: [
      {
        url: "~/assets/images/YOLO-beating.jpg",
        width: 1200,
        height: 628,
      },
    ],
    type: "website",
  },
};
console.log("racing, metadata", metadata);
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        text: "Notice of Race 2025",
        href: "https://objects.c3.uber5.com/sssa-files/notices/SSSA%20NoR%20%202025%2001%2029.pdf",
        target: "_blank",
      },
      {
        // variant: 'primary',
        text: "Sailing Instructions",
        href: "https://objects.c3.uber5.com/sssa-files/notices/SSSA%20SI%202025%2001%2029.pdf",
        // icon: 'tabler:chevron-right',
        target: "_blank",
      },
    ]}
    image={{
      src: "~/assets/images/Apple-Pie-spinnaker-looking-ahead.jpg",
      alt: "View from Apple Pie with spinnaker up during the 22 June meet-up, looking ahead",
    }}
  >
    <Fragment slot="title"> Grand Prix Meet-Up Racing </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        SSSA meets up regularly for shorthanded racing in Table Bay and beyond.
        <span class="font-semibold"
          >Find the Notice of Race and our Sailing Instructions here</span
        >.
      </span>
    </Fragment>
    {
      /* <Fragment slot="content">
      <Note />
</Fragment> */
    }
  </Hero>
</Layout>
