---
import CallToAction from "~/components/widgets/CallToAction.astro";
import Content from "~/components/widgets/Content.astro";
import Features2 from "~/components/widgets/Features2.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Hero from "~/components/widgets/Hero.astro";
import MyTestForm from "~/components/MyTestForm.tsx";
import Layout from "~/layouts/PageLayout.astro";
import { Icon } from "astro-icon/components";

const metadata = {
  title: "Canyon Cup 2024",
  description: "Canyon Cup 2024 - Forms Test [DO NOT USE]",
  openGraph: {
    site_name: "Canyon Cup 2024",
    images: [
      {
        url: "~/assets/images/canyon-cup-2024.png",
        width: 1200,
        height: 628,
      },
    ],
    type: "website",
  },
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: "primary",
        text: "Testing",
        href: "#forms-test",
      },
    ]}
  >
    <Fragment slot="title"> Canyon Cup 2024 -- Forms Test </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        [TODO] This page is for testing forms, do not use this unless you know
        what you are doing.
      </span>
    </Fragment>

  </Hero>

  <MyTestForm client:only="react" />
</Layout>
