---
import CallToAction from "~/components/widgets/CallToAction.astro";
import Content from "~/components/widgets/Content.astro";
import Features2 from "~/components/widgets/Features2.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Hero from "~/components/widgets/Hero.astro";
import Layout from "~/layouts/PageLayout.astro";
import { Icon } from "astro-icon/components";

const metadata = {
  title: "Canyon Cup 2024",
  description: "Canyon Cup 2024 - Details, Notice of Race, Race Report",
  openGraph: {
    site_name: "Canyon Cup 2024",
    images: [
      {
        url: "~/assets/images/canyon-cup-2024.png",
        width: 1200,
        height: 628,
      },
    ],
    type: "website",
  },
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        text: "Results",
        href: "https://social.sssa.africa/@meetup_results/113375178487405381",
        target: "_blank",
      },
      {
        variant: "primary",
        text: "Race Report",
        href: "/2024-canyon-cup-report",
        icon: "tabler:chevron-right",
      },
    ]}
  >
    <Fragment slot="title"> Canyon Cup 2024 </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        A shorthanded offshore adventure to the edge of the continental shelf,
        incorporating the
        <span class="font-semibold"
          >ORC Double Handed National Championship</span
        >.
      </span>
    </Fragment>
  </Hero>

  <Content
    id="tracking"
    isAfterContent
    items={[
      {
        title: "Replay the Race",
        icon: "tabler:checklist",
        description:
          "Click the link here, or scan the QR code to replay the race. Note that not all boats' trackers recorded their tracks all the time.",
        callToAction: {
          text: "Open the Replay",
          href: "https://bit.ly/canyoncup24",
          icon: "tabler:chevron-right",
        },
      },
    ]}
    image={{
      src: "~/assets/images/tracking-qr-code.jpeg",
      alt: "QR Code to Replay the Race",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Track Replay
      </h3>
    </Fragment>
  </Content>

  <Content
    id="safety-etc"
    items={[
      {
        title: "Sailing Instructions",
        icon: "tabler:checklist",
        description:
          "Get the sailing instructions, version 1.3 dated 9 October 2024",
        callToAction: {
          text: "Get Sailing Instructions",
          href: "https://objects.c3.uber5.com/sssa-files/canyon-cup-2024/Canyon%20Cup%20SI%20241009v1_3.pdf",
          icon: "tabler:chevron-right",
        },
      },
      {
        title: "Safety Information",
        description:
          "Download the safety information, take note of appendices A through H",
        icon: "tabler:first-aid-kit",
        callToAction: {
          text: "Download Safety Information",
          href: "https://objects.c3.uber5.com/sssa-files/canyon-cup-2024/Canyon-Cup-Safety-Information.zip",
          icon: "tabler:chevron-right",
        },
      },
    ]}
    image={{
      src: "~/assets/images/YOLO-beating-square.png",
      alt: "YOLO Beating, view from cockpit",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Sailing Instructions and Safety Information
      </h3>
    </Fragment>
  </Content>
</Layout>
