---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Button from '~/components/ui/Button.astro';
import Contact from '~/components/widgets/Contact.astro';
import { Icon } from 'astro-icon/components';

const metadata = {
  title: 'Results',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <HeroText tagline="Canyon Cup 2024, Launch Event" title="Invitation to the Official Launch of the Canyon Cup 2024" />

  <FAQs
    title="Launch Event Details"
    {/* tagline="Official Launch of the Canyon Cup, 6 June, 2024" */}
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Date & Time',
        description: "6 June 2024, 17h00 for 17h30.",
      },
      {
        title: 'Venue',
        description: "The Little Optimist Trust, Shop 8, Battery Park Canals. V&A Waterfront.",
      },
      {
        title: 'Parking',
        description: 'Dock Rd.',
      },
      {
        title: 'Dress Code',
        description: "Smart casual.",
      },
      {
        title: "RSVP",
        description:
          "RSVP before June 3, 2024, by filling in the form below.",
      },
    ]}
  />

<!--  action="https://api.web3forms.com/submit" -->

<form
  action="https://sobbitrdyvpreevrxrgj.supabase.co/rest/v1/form_submissions\?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvYmJpdHJkeXZwcmVldnJ4cmdqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU3OTY1NjIsImV4cCI6MjAzMTM3MjU2Mn0.LnHpq8o1X1fpRfrygQJO-lEo2BuQnsjkMLgTqVrQbQ4"
  method="POST"
  id="form"
  class="needs-validation"
  novalidate>

  <Contact
    title="RSVP - Let us Know You Are Coming"
    {/* subtitle="" */}
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
        required: true,
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
        required: true,
      },
    ]}
    textarea={{
      label: 'Message (optional)',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="We will send you a confirmation email for your registration in due corse."
  />

  <section class="bg-blue-50 dark:bg-slate-800 not-prose">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
      <span id="result" class="ml-2"></span>
    </div>
  </section>

</form>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    console.log("submit...");
    form.classList.add("was-validated");
    if (!form.checkValidity()) {
      form.querySelectorAll(":invalid")[0].focus();
      result.innerHTML = "Please fill out the required fields. Make sure you allow the collection of personal information.";
      return;
    }
    const formData = new FormData(form);
    formData.delete("disclaimer");
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    console.log("json", json);

    result.style.display = "block";
    result.innerHTML = "Sending...";

    fetch("https://sobbitrdyvpreevrxrgj.supabase.co/rest/v1/form_submissions?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvYmJpdHJkeXZwcmVldnJ4cmdqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU3OTY1NjIsImV4cCI6MjAzMTM3MjU2Mn0.LnHpq8o1X1fpRfrygQJO-lEo2BuQnsjkMLgTqVrQbQ4", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        if (response.status == 200 || response.status == 201) {
          result.classList.add("text-green-500");
          result.innerHTML = "Thank you for your RSVP. We will send you a confirmation email in due course.";
        } else {
          console.log(response);
          result.classList.add("text-red-500");
          result.innerHTML = "Something went wrong. Please try again, or contact us directly.";
        }
      })
      .catch((error) => {
        console.log(error);
        result.classList.add("text-red-500");
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        form.classList.remove("was-validated");
        setTimeout(() => {
          result.style.display = "none";
        }, 5000);
      });
  });
</script>

</Layout>
